.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px;
    padding-top: 100px;

}
.container_task{
    background-color: rgb(123, 189, 239);
    width: 35vw;
    height: 50vh;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    
   
    
}
.container_button{
    padding: 30px;
}
.container_nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container_main{
    align-items: center;
}
.text{
    text-align: center;
}

