.select{
    height: 40px;
    width: 200px;
    margin: 10px;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
