.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}
.canvas{
    background-color: #F7EDE2;
}
.container_main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input{
    margin: 15px;
    padding: 10px;
}